/* 
    This style sheet stylizes the controls inside our
    TA Manager JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Note that it may seem overwhelming to see so many different
    style classes, even though our application doesn't have that
    many controls, but what this allows us to do is easily
    control and update the style of the entire user interface
    via a stylesheet without having the change Java code.

    Author:	Richard McKenna
    Version:	1.0
*/
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');


.root{
    -fx-font-family: 'Droid Sans Mono', monospace;
}

.dialog_pane {
    -fx-padding:15;
}

.dialog_heading {
    -fx-font-size: 24pt;
    -fx-color:red;
}

.dialog_prompt {

    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.plain_pane{
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    -fx-border-width: 1px;
    -fx-border-color: #525266;
}

.tab-pane
{
    -fx-tab-min-width:90px;
    -fx-padding: 20;
    -fx-spacing: 30;
 
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;

    
}
.tab-pane .tab
{
    -fx-background-color: #aaa0f7;

    

}

.tab-pane .tab:selected
{
    -fx-background-color: #4d4893;

}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;

}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
}

.bordered_pane {
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.header_pane{
    -fx-background-color: rgb(207,203,253);
    -fx-font-weight: bold;
    -fx-border-width: 0.5px;
    -fx-border-color: #525266;
    
}

.header_label {
    -fx-font-size: 18pt;
    
}

.subheader_pane{
    -fx-background-color: #e0e0fc;
    -fx-background-radius: 5.0;
    -fx-padding: 20;
    -fx-spacing: 50;
    -fx-border-width: 2px;
    -fx-border-color: #525266;
}
.subheader_label{
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.scroll_pane{
    -fx-background-color: #e0e0fc;
    -fx-padding: 10;
    -fx-spacing: 10;

}

.ta_table{
    
}

.table-view .column-header.ta_table_column_header .label {
    -fx-background-color: #020963;
    -fx-text-fill: #ffffff;
        
    
}

.add_ta_pane{
    
}

.add_ta_text_field{
    
}

.add_ta_button{
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.clear_button{
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.office_hours_grid{
    
}

.office_hours_grid_time_column_header_pane{
    -fx-background-color: #020963;
    -fx-padding: 6;
    -fx-spacing: 15;
    
}

.office_hours_grid_time_column_header_label{
    -fx-text-fill: #ffffff;
    
}

.office_hours_grid_day_column_header_pane{
    -fx-padding: 6;
    -fx-spacing: 15;
    -fx-background-color: #020963;
    
}

.office_hours_grid_day_column_header_label{
    -fx-text-fill: #ffffff;
    
}

.office_hours_grid_time_cell_pane{
    -fx-background-color: #041095;
    -fx-border-width: 0.5px;
    -fx-border-color: #ffffff;
    -fx-border-style: dashed;   
}

.office_hours_grid_time_cell_label{
    -fx-text-fill: #ffffff;
    
}

.office_hours_grid_ta_cell_pane{
    -fx-background-color: #ACAA7A;
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-border-width: 1.5px;
    -fx-border-color: #000000
          
}


.office_hours_grid_ta_cell_label{
    
}



